<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Detech Object</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../static/default.css" rel="stylesheet" />
</head>

<body>
  <div id="myModal" class="modal">

    <!-- The Close Button -->
    <span class="close">&times;</span>
  
    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01">
  
    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
  </div>
  <div id="header">
    <h1>What objects are in your photo? </h1>
    <h2><a href="http://hcmute.edu.vn/">UTE Deep Learning</a></h2>
  </div>
  <div style="clear: both;">&nbsp;</div>
  <div id="content">
    <div><img src="../static/images/img1.jpg" alt="" id="intro-img" /></div>
    <div id="colTwo">
      <h2>Upload your image</h2>
      <form method="post" action="/" enctype="multipart/form-data">
        <dl>
          <p>
            <input type="file" name="file" autocomplete="off" required>
          </p>
        </dl>
        <p>
          <input type="submit" value="Submit">
        </p>
      </form>
      {% if filename %}
      <div>
        <img src="{{ url_for('display_image', filename=filename) }}" width="400">
        >>>>>
        <img src="{{ url_for('display_output', filename=output) }}" width="400" id="outimg">
      </div>
      {{ name }} 
      {% endif %}
      <p><strong>Nhận diện đồ vật </strong> <a href="http://hcmute.edu.vn/"><strong>UTE Deep Learning</strong></a>
      </p>
      <p>Thực hiện bởi</p>
      <ul>
        <li><a href="https://www.facebook.com/tkiet1999"><ins>Nguyễn Tuấn Kiệt</ins> </a></li>
        <li><a href="https://www.facebook.com/thiennhi.260200"><ins>Chung Thiên Nhi</ins> </ins></a></li>
        <li><a href="https://www.facebook.com/100011418587243/"><ins>Nguyễn Quang Duy</ins> </a></li>
        <li><a href="https://www.facebook.com/profile.php?id=100008650444944"><ins>Lê Thanh Hải</ins> </a></li>
        <li><a href="https://www.facebook.com/100006723399663/"><ins>Nguyễn Trường Thịnh</ins>  </a></li>
        <li><a href="https://www.facebook.com/100005803479530/"><ins>Dương Trung Bảo</ins> </a></li>
        <li><a href="https://www.facebook.com/longsupermann"><ins>Phạm Hoàn Long</ins></a></li>
      </ul>
      <p>Trong sự yêu thương và dạy dỗ của thầy Nguyễn Thiên Bảo</p>
      <br>
      <p><b>Yolov3 là gì?</b> <br>YOLOv3 (You Only Look Once, Version 3) là thuật toán phát hiện đối tượng (detect object) trong video hoặc hình ảnh </p>
      <p>Được tạo ra bởi Joseph Redmon và Ali Farhadi. <a href="https://pjreddie.com/darknet/yolo/"><ins>Reed more</ins></a></p>
      <p>Sử dụng Coco Dataset, Weight pre-train của tác giả có độ chính xác cao với 80 classes. <a href="https://pjreddie.com/media/files/yolov3.weights"><ins>Download Weight</ins></a></p>
      <p><b>Kiến trúc của Yolov3</b></p>
      <img src="/static//images/layer1.PNG" width="800" >
      <br>
      <img src="/static//images/layer2.PNG" width="400" >
      <p><b>Source:</b><br>Check my github here: <a href="https://github.com/pffdota04/detechweb"><ins>Detect Object Web</ins></a></p>
  
      <br>
      <p><b>Special Thank:</b></p>
      <ul>
        <li>Thầy Nguyễn Thiên Bảo</li>
        <li><a href="http://datahacker.rs/"><ins>Datahacker Blog</ins></a></li>
        <li>@shahkaran76 with his post in <a href="https://medium.com/@shahkaran76/yolo-object-detection-algorithm-in-tensorflow-e080a58fa79b"><ins>medium.com</ins></a></li>
        <li>@zzh8829 with his repo: <a href="https://github.com/zzh8829/yolov3-tf2"><ins>yolov3-tf2</ins> </a></li>
        <li>...and 1000+ website in my browser history for this project. Love you all</li>
      </ul>
    </div>
    <div style="clear: both;">&nbsp;</div>
  </div>
  <div id="footer">
    <p>Copyright &copy; 2021 HCMUTE <a href="http://hcmute.edu.vn/"><strong>Nhận diện đồ vật</strong></a></p>
  </div>
</body>


<script>
  // Get the modal
  var modal = document.getElementById("myModal");
  
  // Get the image and insert it inside the modal - use its "alt" text as a caption
  var img = document.getElementById("outimg");
  var modalImg = document.getElementById("img01");
  var captionText = document.getElementById("caption");
  img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
  }
  
  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];
  
  // When the user clicks on <span> (x), close the modal
  span.onclick = function() { 
    modal.style.display = "none";
  }
  </script>


</html>